In [1]:
import numpy as np
import pandas as pd
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import RegexpTokenizer
from nltk.stem.snowball import SnowballStemmer
from nltk.stem.wordnet import WordNetLemmatizer

# Train

In [2]:
train=pd.read_csv('~/Desktop/train_clean.csv',encoding='ISO-8859-1',keep_default_na=False,na_values=[])

In [4]:
train.shape

(74067, 9)

In [5]:
train.head(2)

,id,product_uid,product_title,search_term,product_description,relevance,productList,searchList,desList
0,2,100001,Simpson Strong-Tie 12-Gauge Angle,angle bracket,"Not only do angles make joints stronger, they ...",3.0,simpson strong-ti 12-gaug angl,angl bracket,angl brand joint strong besid suppli consist h...
1,3,100001,Simpson Strong-Tie 12-Gauge Angle,l bracket,"Not only do angles make joints stronger, they ...",2.5,simpson strong-ti 12-gaug angl,liter bracket,angl brand joint strong besid suppli consist h...

# TF-IDF

## Common Vocabulary

In [6]:
combineList=train.productList+train.searchList+train.desListb

In [7]:
combineList[1:10]

1    simpson strong-ti 12-gaug anglliter bracketang...
2    behr premium textur deck 1-gal sc-141 tugboat ...
3    delta vero 1-handl shower faucet trim kit chro...
4    delta vero 1-handl shower faucet trim kit chro...
5    whirlpool 1.9 cu ft scope convect microwav sta...
6    whirlpool 1.9 cu ft scope convect microwav sta...
7    whirlpool 1.9 cu ft scope convect microwav sta...
8    lithonia light quantum 2-light black light-emi...
9    hous fara 3/4 in ten 3 in ten 8 ft mdf flute s...
dtype: object

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
tf = TfidfVectorizer(analyzer='word', ngram_range=(1,1), min_df = 0,encoding='ISO-8859-1')
tfidf_matrix = tf.fit_transform(combineList)

In [44]:
feature_names = tf.get_feature_names()

In [46]:
len(feature_names)

1308206

In [14]:
# common tfidf
common_tfidf = pd.DataFrame(tfidf_matrix.todense(),columns=feature_names,index=train.id[:10])

In [15]:
common_tfidf

,10,10 cook,10 old_ag,100,100 acrylic_fib,10d,10d park,12,12 gaug,120,...,wood complex,wood concret,year,year guarante,york,york pleas,zinc,zinc coat,zmax,zmax zinc
id,,,,,,,,,,,,,,,,,,,,,
2,0.000000,0.000000,0.000000,0.00000,0.00000,0.060028,0.060028,0.120055,0.120055,0.000000,...,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.060028,0.060028,0.060028,0.060028
3,0.000000,0.000000,0.000000,0.00000,0.00000,0.060028,0.060028,0.120055,0.120055,0.000000,...,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.060028,0.060028,0.060028,0.060028
9,0.000000,0.000000,0.000000,0.05283,0.05283,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.05283,0.15849,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
16,0.000000,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.00000,0.000000,0.000000,0.065900,0.065900,0.000000,0.000000,0.000000,0.000000
17,0.000000,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.00000,0.000000,0.000000,0.066833,0.066833,0.000000,0.000000,0.000000,0.000000
18,0.024027,0.027025,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.00000,0.027025,0.027025,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
20,0.024027,0.027025,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.00000,0.027025,0.027025,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
21,0.024059,0.027060,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.00000,0.027060,0.027060,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
23,0.034932,0.000000,0.052829,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.052829,...,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
27,0.000000,0.000000,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [16]:
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd
tf = TfidfVectorizer(analyzer='word', ngram_range=(1,2), min_df = 0,encoding='ISO-8859-1')
def Tfidf_Matrix(data,train,):
    tfidf_matrix=tf.fit_transform(data)
    feature_names = tf.get_feature_names()
    Matrix = pd.DataFrame(tfidf_matrix.todense(),columns=feature_names,index=train.id)
    return (Matrix)

In [ ]:
Common_Matrix = Tfidf_Matrix(combineList,train)

# Individual Vocabulary

In [47]:
Individual_productList = train.productList

In [49]:
Individual_searchList = train.searchList

In [50]:
Individual_desList = train.desList

In [21]:
Ind_productList_Matrix = Tfidf_Matrix(Individual_productList,train) # take the first 20 sample as an example

In [105]:
Ind_searchList_Matrix = Tfidf_Matrix(Individual_searchList,train)

In [ ]:
Ind_desList_Matrix = Tfidf_Matrix(Individual_desList,train)

# SDT

In [7]:
from sklearn.decomposition import TruncatedSVD

In [81]:
from sklearn.random_projection import sparse_random_matrix
svd = TruncatedSVD(n_components = 2, random_state = 22, n_iter=15)

In [89]:
result = svd.fit_transform(common_tfidf)

In [87]:
# example
# output=np.matrix('1,2,1;3,4,3;5,6,4')
# result = svd.fit_transform(output)
# print output
# print result

[[1 2 1]
 [3 4 3]
 [5 6 4]]
[[ 2.40230893  0.45526055]
 [ 5.82240627  0.12211991]
 [ 8.77121997 -0.20575338]]

# Function

In [305]:
from sklearn.feature_extraction.text import TfidfVectorizer
tf = TfidfVectorizer(analyzer='word', ngram_range=(1,2), min_df = 0,encoding='ISO-8859-1')
combineList=(train.productList+train.desList+train.searchList)

In [362]:
def df_itf(item,name,train):
    tfidf_matrix=tf.fit_transform(item)   #item should be pd.Series
    feature_names = tf.get_feature_names()
    dense = tfidf_matrix.todense()
    #episode=dense.tolist()[0]  # take the row 100 as an example. crush
    #phrase_scores = [pair for pair in zip(range(0, len(episode)), episode) if pair[1] > 0]
    train[name]=0
    for i in range(len(dense)):
        aadict = {}
        episode=dense[i].tolist()[0]
        phrase_scores = [pair for pair in zip(range(0, len(episode)), episode) if pair[1] > 0]
        sorted_phrase_scores = sorted(phrase_scores, key=lambda t: t[1] * -1)
        for phrase, score in [(feature_names[word_id], score) for (word_id, score) in sorted_phrase_scores]:
        #for phrase, score in [(feature_names[word_id], score) for (word_id, score) in phrase_scores]:
            aadict[phrase] = score
            train[name][i] = [aadict]
            if i>10:
                break

# cosine_similarity

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
cosine_similarity([1,1,1],[2,2,3])

In [28]:
# test

In [104]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from nltk.corpus import stopwords

train_set = ["I LOVE APPLE","APPLE"] #Documents
test_set = ["BANANA"] #Query
#stopWords = stopwords.words('english')

vectorizer = CountVectorizer()#stop_words = stopWords
transformer = TfidfTransformer()

trainVectorizerArray = vectorizer.fit_transform(train_set).toarray()
testVectorizerArray = vectorizer.transform(test_set).toarray()
print 'Fit Vectorizer to train set', trainVectorizerArray
print 'Transform Vectorizer to test set', testVectorizerArray

transformer.fit(trainVectorizerArray)
print transformer.transform(trainVectorizerArray).toarray()

transformer.fit(testVectorizerArray)

tfidf = transformer.transform(testVectorizerArray)
print tfidf.todense()

Fit Vectorizer to train set [[1 1]
 [1 0]]
Transform Vectorizer to test set [[0 0]]
[[ 0.57973867  0.81480247]
 [ 1.          0.        ]]
[[ 0.  0.]]